{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ registration_form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="form-group">
                    {{ registration_form.username.label(class="form-control-label") }}

                    {% if registration_form.username.errors%}
                       {{ registration_form.username(class="form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {%for error in form.username.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                          {{ registration_form.username(class="form-control-lg") }}
                     {%endif%}

                </div>
                <div class="form-group">
                    {{ registration_form.email.label(class="form-control-label") }}
                    {% if registration_form.username.errors %}
                       {{ registration_form.username(class="form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {%for error in form.username.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                          {{ registration_form.username(class="form-control-lg") }}
                     {%endif%}
                </div>
                 <div class="form-group">
                    {{ registration_form.password.label(class="form-control-label") }}
                    {% if registration_form.password.errors %}
                       {{ registration_form.password(class="form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {%for error in form.password.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                          {{ registration_form.password(class="form-control-lg") }}
                     {%endif%}
                </div>
                <div class="form-group">
                    {{ registration_form.password_confirm.label(class="form-control-label") }}
                    {% if registration_form.password_confirm.errors %}
                       {{ registration_form.password_confirm(class="form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {%for error in form.password_confirm.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                          {{ registration_form.password_confirm(class="form-control-lg") }}
                     {%endif%}
                </div>
                <div class="form-group">

                    {{ registration_form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>

    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{url_for('login')}}"></a>
        </small>
    </div>
{% endblock content %}