{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ registration_form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="form-group">
                    {{ registration_form.username.label(class="form-control-label") }}
                    {{ registration_form.username(class="form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ registration_form.email.label(class="form-control-label") }}
                    {{ registration_form.email(class="form-control-lg") }}
                </div>
                 <div class="form-group">
                    {{ registration_form.password.label(class="form-control-label") }}
                    {{ registration_form.password(class="form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ registration_form.password_confirm.label(class="form-control-label") }}
                    {{ registration_form.password_confirm(class="form-control-lg") }}
                </div>
                <div class="form-group">

                    {{ registration_form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>

    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{url_for('login')}}"></a>
        </small>
    </div>
{% endblock content %}